
body {
  font-family: 'Roboto Slab', serif;
}

* {
  margin: 0;
  padding: 0;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

p {
  margin-bottom: 1rem;
  line-height: 1.75;
}

p {
  text-indent: 2rem;
}

p::first-line {
  text-transform: uppercase;
}

p + p {
  text-indent: 0;
}

.myndir {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  width: 900px;
  padding: 1rem;
  width: 100%;
  color: white;
  background-color: #2f0505;
  border-bottom: 8px solid #ffe7ae;

  text-align: center;
}

nav {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: beige;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline;
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-right: 0;
}

main {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  width: 1000px;
  min-height: 60vh;
  text-align: center;
}

img {
  width: 50%;
}

.tableColor  {
  background-color: #ffe7ae;
  border: 8px;
}

nav a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #2f0505;
  border-top: 8px solid #ffe7ae;
  color: white;
}

footer .content {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

footer .content .box {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.right {
  position: absolute;
  right: auto;
  width: 300px;
  padding: 10px;
}

.menu {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.top-row,
.bottom-row {
    text-align: center;
}

dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl dt, dl dd {
  margin-bottom: 10px;
}

.section {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px; 
}


table {
  margin: 0 auto;
}

.border {
  padding: 10px;
  margin: 10px;
}

.row {
  width: 100%;
}

.left {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.right {
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

label, input, select {
  display: block;
  margin-bottom: 5px;
}

form {
  margin-bottom: 10px;
}



